@font-face{
	font-family: "gog";
	src: url("/MonteCarloFixed12.ttf");
}
html{
	background-size: cover;
	image-rendering: pixelated;
	font-family: "gog", sans-serif;
	/*-webkit-font-smoothing: none;
	font-smooth: none;*/
}
body{
	margin: 0px;
}
footer{
	position:fixed;
	bottom:0px;
}
p{
	left:0px;
}