<div style="display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 360px;
  margin: auto;
  height: 16px;" class="foota">
<p style="color: #eee; margin: auto;">©️ 2025 All rights reserved</p>
<a href="https://bsky.app/profile/fjyetto.dev" style="color: #24f"><img src="/btn/bsky-button.png"></a>
<a href="https://x.com/fjyetto" style="color: #000"><img src="/btn/twitter-button.png"></a>
<a href="https://www.youtube.com/@fjyetto" style="color: #f33"><img src="/btn/youtube-button.png"></a>
<a href="https://scratch.mit.edu/users/papatomique22/" style="color: #f83"><img src="/btn/scratch-button.png"></a>
<a href="https://www.roblox.com/users/110869810/profile" style="color: #999"><img src="/btn/rbx-button.png"></a>
<a href="https://www.instagram.com/fjyetto" style="color: #c2e"><img src="/btn/instagram-button.png"></a>
</div>