---
---

<!-- Welcome to my awesome new website that will look even better than version 2 -->
<!-- this shit getting tough here are some refs
	https://www.webdesignmuseum.org/exhibitions
	https://x.com/i/status/1880725776011837599 cool 3d menu
	https://pbs.twimg.com/media/GhYZ-CJbUAEsnoy?format=jpg&name=small rf/zengard.jpg zen garden
	https://x.com/WebDesignMuseum/status/1875217412582523158 rf/t26.jpg websites
	rf/sims.png
	rf/n2k.png
	rf/gbm2006.png

	I don't need to follow us graphic company's ideas idk why i had that in mind
	i don't want this to be too much like some 16 year old's neocities website
	i want this to be actually both useful and interesting to any curious web-surfer
	i think i want a website design reminiscent of 2004-2006, refs above

-->
<!DOCTYPE html>
<html>
	<head>

		<title>FJ HOME</title>
		{% include head.html %}
		<link href="/stylegod.css" rel="stylesheet">
	</head>
	<body style="display: flex;
  align-items: center;
  flex-direction: column;">
		<div style="width:640px; background: #eee; border: #112 1px solid; padding: 1px">
			{% include navbar.html %}
			<article>

				<h2>fjyetto.dev gets a redesign!</h2>
				<hr>
				<p>Have you ever wanted to follow fjyetto</p>
			</article>
		</div>
	</body>
</html>