---
---
<!DOCTYPE html>
<html>
	<head>

		<title>{{ page.title }}</title>
		{% include head.html %}
		<link href="/stylegod.css" rel="stylesheet">
	</head>
	<body style="display: flex;
  align-items: center;
  flex-direction: column;">
  		{% if page.bg == true %}
  		{% include bg.html %}
  		{% endif %}
		<div style="width:640px; padding: 1px; z-index: 50;" class="maina">
			{% include navbar.html %}
			<article>

				<h2>{{ page.title }}</h2>
				<hr>
				{{ content }}
			</article>
		</div>
		<footer style="width: 100%;">{% include footer.html %}</footer>
	</body>
</html>