.fyn {
	margin: 8% auto;
}
.crazinset{
	display: flex;
	justify-content: center;
	align-items: center;
}

html, body{
	overflow: none;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}

.asset {
	width: 0px;
}